# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: Build paper
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Install Python packages
      run: |
          pip install -r requirements.txt
    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@v2
      with:
        root_file: concretizer-paper-osdi22.tex
        latexmk_shell_escape: true
